In [1]:
import pandas as pd

In [9]:
df=pd.read_csv('data/travel_data.csv')

In [ ]:
# 컬럼이름 바꾸기
df=df.rename(columns={'SEQ_NO':'일렬번호','ALL_KWRD_RANK_CO':'키워드순위','SRCHWRD_NM':'검색어명','UPPER_CTGRY_NM':'카테고리(상)','LWPRT_CTGRY_NM':'카테고리(하)','CNTT_NM':'대륙','COUNTRY_NM':'국가','MOBILE_SCCNT_VALUE':'모바일검색량','PC_SCCNT_VALUE':'PC검색량','SCCNT_SM_VALUE':'총검색량','SCCNT_DE':'검색일자'})

In [11]:
df.head(2)

    일렬번호  키워드순위  검색어명 카테고리(상) 카테고리(하)   대륙  국가  모바일검색량  PC검색량  총검색량      검색일자
0  15744      1  일본여행      여행    해외여행  아시아  일본    5294   1850  7144  20190701
1  15745      2  대만여행      여행    해외여행  아시아  대만    4960    842  5802  20190701

In [ ]:
# xgb에서 사용할 데이터셋 만들기

In [ ]:
# 년월로 바꾸기
df['검색일자']=df['검색일자'].astype(str).str[:6]
df['검색일자']=pd.to_datetime(df['검색일자'], format='%Y%m').dt.strftime('%Y-%m')

In [17]:
# 오세아니아의 미국을 괌으로 변경
mask=(df['국가']=='미국')&(df['대륙']=='오세아니아')
df.loc[mask,'국가']='괌'

In [18]:
# 국가에 영국여행을 영국으로 변경
mask=df[df['국가']=='영국여행']
df.loc[mask.index,'국가']='영국'

In [19]:
df.head(2)

    일렬번호  키워드순위  검색어명 카테고리(상) 카테고리(하)   대륙  국가  모바일검색량  PC검색량  총검색량     검색일자
0  15744      1  일본여행      여행    해외여행  아시아  일본    5294   1850  7144  2019-07
1  15745      2  대만여행      여행    해외여행  아시아  대만    4960    842  5802  2019-07

In [20]:
# 필요한 컬럼만 가져오기
xg_df=df.loc[:,['대륙','국가','총검색량','검색일자']]

In [22]:
# 검색일자, 국가, 대륙별로 총검색량 더하기
df=df.groupby(['검색일자','국가','대륙'])['총검색량'].sum().reset_index()

In [23]:
df

        검색일자     국가     대륙    총검색량
0    2019-07      괌  오세아니아   53503
1    2019-07     대만    아시아  223094
2    2019-07    라오스    아시아    3911
3    2019-07    러시아    아시아  162850
4    2019-07     몽골    아시아   66430
..       ...    ...    ...     ...
950  2025-02  인도네시아    아시아   31679
951  2025-02     일본    아시아  224782
952  2025-02     중국    아시아   52809
953  2025-02     태국    아시아   24522
954  2025-02     호주  오세아니아    2710

[955 rows x 4 columns]

In [26]:
# 데이터셋 저장하기
df.to_csv('data/travel_ko.csv',index=False)