In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error
import streamlit as st

In [23]:
df=pd.read_csv('data/travel_data.csv')

In [24]:
df=df.rename(columns={'SEQ_NO':'일렬번호','ALL_KWRD_RANK_CO':'키워드순위','SRCHWRD_NM':'검색어명','UPPER_CTGRY_NM':'카테고리(상)','LWPRT_CTGRY_NM':'카테고리(하)','CNTT_NM':'대륙','COUNTRY_NM':'국가','MOBILE_SCCNT_VALUE':'모바일검색량','PC_SCCNT_VALUE':'PC검색량','SCCNT_SM_VALUE':'총검색량','SCCNT_DE':'검색일자'})

In [ ]:
df['검색일자']=df['검색일자'].astype(str).str[:4].astype(int)

In [ ]:
# 2. 연도와 월을 분리
df['연도'] = df['검색일자'].dt.year
df['월'] = df['검색일자'].dt.month

In [27]:
df.head(2)

,일렬번호,키워드순위,검색어명,카테고리(상),카테고리(하),대륙,국가,모바일검색량,PC검색량,총검색량,검색일자,연도,월
0,15744,1,일본여행,여행,해외여행,아시아,일본,5294,1850,7144,2019-07-01,2019,7
1,15745,2,대만여행,여행,해외여행,아시아,대만,4960,842,5802,2019-07-01,2019,7

In [ ]:
# xgboost from xgboost import XGB클래서파이어
# randomforest from sklearn.ensamble import 랜덤포레스트 클래서 파이어
# knn from sklearn.nehiber import knn


# 레그? llm

In [21]:
import pandas as pd
import matplotlib.pyplot as plt
from prophet import Prophet
import seaborn as sb
import platform
from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

In [22]:
df=pd.read_csv('data/travel_data.csv')

In [23]:
df=df.rename(columns={'SEQ_NO':'일렬번호','ALL_KWRD_RANK_CO':'키워드순위','SRCHWRD_NM':'검색어명','UPPER_CTGRY_NM':'카테고리(상)','LWPRT_CTGRY_NM':'카테고리(하)','CNTT_NM':'대륙','COUNTRY_NM':'국가','MOBILE_SCCNT_VALUE':'모바일검색량','PC_SCCNT_VALUE':'PC검색량','SCCNT_SM_VALUE':'총검색량','SCCNT_DE':'검색일자'})

In [24]:
df.head(2)

    일렬번호  키워드순위  검색어명 카테고리(상) 카테고리(하)   대륙  국가  모바일검색량  PC검색량  총검색량      검색일자
0  15744      1  일본여행      여행    해외여행  아시아  일본    5294   1850  7144  20190701
1  15745      2  대만여행      여행    해외여행  아시아  대만    4960    842  5802  20190701

In [25]:
df['검색일자'] = df['검색일자'].astype(str).str[:6]
df['검색일자']=pd.to_datetime(df['검색일자'], format='%Y%m').dt.strftime('%Y-%m')

In [28]:
df.head()

,일렬번호,키워드순위,검색어명,카테고리(상),카테고리(하),대륙,국가,모바일검색량,PC검색량,총검색량,검색일자
0,15744,1,일본여행,여행,해외여행,아시아,일본,5294,1850,7144,2019-07
1,15745,2,대만여행,여행,해외여행,아시아,대만,4960,842,5802,2019-07
2,15746,3,후쿠오카여행,여행,해외여행,아시아,일본,5103,499,5602,2019-07
3,15747,4,블라디보스톡여행,여행,해외여행,아시아,러시아,4406,743,5149,2019-07
4,15748,5,오사카여행,여행,해외여행,아시아,일본,3761,1288,5049,2019-07

In [29]:
df=df.loc[:,['대륙','국가','모바일검색량','PC검색량','총검색량','검색일자']]

In [30]:
df

        대륙     국가  모바일검색량  PC검색량  총검색량     검색일자
0      아시아     일본    5294   1850  7144  2019-07
1      아시아     대만    4960    842  5802  2019-07
2      아시아     일본    5103    499  5602  2019-07
3      아시아    러시아    4406    743  5149  2019-07
4      아시아     일본    3761   1288  5049  2019-07
...    ...    ...     ...    ...   ...      ...
23853  아시아   싱가포르    3018    801  3819  2025-02
23854  아시아     일본    2673    982  3655  2025-02
23855  아시아     일본    2210    908  3118  2025-02
23856  아시아  인도네시아    2077    626  2703  2025-02
23857  아시아     태국    1972    493  2465  2025-02

[23858 rows x 6 columns]

In [31]:
df=df.groupby(['검색일자','국가','대륙'])[['모바일검색량','PC검색량','총검색량']].sum().reset_index()

In [32]:
df

        검색일자     국가     대륙  모바일검색량  PC검색량    총검색량
0    2019-07     대만    아시아  190893  32201  223094
1    2019-07    라오스    아시아    3737    174    3911
2    2019-07    러시아    아시아  143038  19812  162850
3    2019-07     몽골    아시아   54233  12197   66430
4    2019-07     미국  오세아니아   38362  15141   53503
..       ...    ...    ...     ...    ...     ...
951  2025-02  인도네시아    아시아   26117   5562   31679
952  2025-02     일본    아시아  182382  42400  224782
953  2025-02     중국    아시아   42442  10367   52809
954  2025-02     태국    아시아   20660   3862   24522
955  2025-02     호주  오세아니아    2528    182    2710

[956 rows x 6 columns]

In [33]:
df['대륙'] = df['대륙'].replace({'남아메리카': '아메리카', '북아메리카': '아메리카'})

In [17]:
df=df.groupby(['검색일자','국가','대륙']).sum('총검색량').reset_index()

In [18]:
df['대륙'].unique()

array(['아시아', '오세아니아', '유럽', '아메리카', '아프리카'], dtype=object)

In [19]:
df[df['대륙']=='오세아니아']

        검색일자  국가     대륙    총검색량
4    2019-07  미국  오세아니아   53503
19   2019-08  미국  오세아니아   58356
31   2019-09  미국  오세아니아   48857
41   2019-09  피지  오세아니아  311329
44   2019-10  미국  오세아니아   74988
..       ...  ..    ...     ...
745  2023-05  미국  오세아니아   26703
823  2024-01  미국  오세아니아   18342
926  2024-12  미국  오세아니아    1298
938  2025-01  미국  오세아니아       0
955  2025-02  호주  오세아니아    2710

[84 rows x 4 columns]

In [112]:
asia_df=df[df['대륙']=='아시아']

In [116]:
asia_df[asia_df['검색일자']=='2019-08']

       검색일자     국가   대륙    총검색량
14  2019-08     대만  아시아  219715
15  2019-08    러시아  아시아  130642
17  2019-08     몽골  아시아   55399
20  2019-08    베트남  아시아  179302
22  2019-08   싱가포르  아시아  134112
23  2019-08  인도네시아  아시아   32079
24  2019-08     일본  아시아  246879
26  2019-08     중국  아시아  130003
27  2019-08     태국  아시아   94370

In [15]:
df(['검색일자'])[['총검색량']].sum().reset_index()

TypeError: 'DataFrame' object is not callable

In [103]:
asia_df[asia_df['국가']=='캄보디아'].shape

(2, 5)

In [75]:
asia_df['국가'].unique()

array(['베트남', '대만', '라오스', '몽골', '인도네시아', '필리핀', '러시아', '일본', '싱가포르',
       '태국', '중국', '아랍에미리트', '이스라엘', '인도', '말레이시아', '캄보디아', '카타르', '요르단',
       '네팔'], dtype=object)

In [36]:
df[df['검색일자']=='2019-07']

       검색일자     국가     대륙  모바일검색량   PC검색량    총검색량
0   2019-07     대만    아시아  190893   32201  223094
1   2019-07    라오스    아시아    3737     174    3911
2   2019-07    러시아    아시아  143038   19812  162850
3   2019-07     몽골    아시아   54233   12197   66430
4   2019-07     미국  오세아니아   38362   15141   53503
5   2019-07    베트남    아시아  125437   39347  164784
6   2019-07    스위스     유럽    7331     959    8290
7   2019-07   싱가포르    아시아  138178   36723  174901
8   2019-07  인도네시아    아시아   13128    1184   14312
9   2019-07     일본    아시아  488805  143337  632142
10  2019-07    조지아     유럽   17158     912   18070
11  2019-07     중국    아시아  122148   30192  152340
12  2019-07     태국    아시아   75661   14040   89701
13  2019-07    필리핀    아시아    4157     200    4357

In [37]:
df.to_csv('data/travel-portal_ko.csv')

In [56]:
df['대륙'].unique()

array(['오세아니아', '아시아', '유럽', '북아메리카', '남아메리카', '아프리카'], dtype=object)

In [62]:
df[df['대륙']=='유럽']

         검색일자    검색어명    국가  대륙   총검색량
10    2019-07   스위스여행   스위스  유럽   8290
14    2019-07   조지아여행   조지아  유럽  18070
22    2019-08  모스크바여행   러시아  유럽  26733
28    2019-08   스페인여행   스페인  유럽   8012
31    2019-08   조지아여행   조지아  유럽  13432
...       ...     ...   ...  ..    ...
1099  2024-07   조지아여행   조지아  유럽   9290
1138  2024-10  이탈리아여행  이탈리아  유럽  19551
1152  2024-11  이탈리아여행  이탈리아  유럽   5708
1174  2024-12     칸여행   프랑스  유럽     57
1199  2025-01     칸여행   프랑스  유럽      0

[206 rows x 5 columns]

In [141]:
df.sort_values(['총검색량'],ascending=False).head(10).reset_index(drop='index')

      검색일자  국가   대륙   모바일검색량    PC검색량     총검색량
0  2024-01  일본  아시아   890450   866022  1756472
1  2024-07  일본  아시아  1256664   323289  1579953
2  2024-10  일본  아시아  1228250   313624  1541874
3  2024-05  일본  아시아  1191972   284869  1476841
4  2024-08  일본  아시아  1120973   246339  1367312
5  2022-12  일본  아시아   240362  1126845  1367207
6  2024-06  일본  아시아  1110401   253775  1364176
7  2024-02  일본  아시아   711298   644820  1356118
8  2023-01  일본  아시아   220407  1107776  1328183
9  2024-03  일본  아시아  1030047   257672  1287719

In [63]:
df[df['대륙']=='오세아니아']

         검색일자  검색어명  국가     대륙    총검색량
0     2019-07   괌여행  미국  오세아니아   53503
19    2019-08   괌여행  미국  오세아니아   58356
36    2019-09   괌여행  미국  오세아니아   48857
51    2019-09  피지여행  피지  오세아니아  311329
53    2019-10   괌여행  미국  오세아니아   74988
...       ...   ...  ..    ...     ...
892   2023-05   괌여행  미국  오세아니아   26703
1009  2024-01   괌여행  미국  오세아니아   18342
1159  2024-12   괌여행  미국  오세아니아    1298
1181  2025-01   괌여행  미국  오세아니아       0
1212  2025-02  호주여행  호주  오세아니아    2710

[101 rows x 5 columns]

In [70]:
df[df['대륙']=='아프리카'].shape

(17, 5)